body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fdf3e0;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 140px;
  background: white;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  position: relative;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2rem;
}

.logo {
  background-color: #3b82f6;
  padding: 6px;
  border-radius: 9999px;
  color: white;
}

.menu .menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border-radius: 6px;
  color: #374151;
  text-decoration: none;
  margin-bottom: 4px;
}

.menu .menu-item:hover {
  background-color: #f3f4f6;
}

.menu .active {
  background-color: #eff6ff;
  color: #2563eb;
}

.logout {
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 2rem);
}

.logout button {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 2rem;
  align-content: center;
  font-size: large;
}